<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtkj.mapper.FileListMapper">
  <resultMap id="BaseResultMap" type="com.jtkj.entity.FileList">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="name" jdbcType="VARCHAR" property="name" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="UUid" jdbcType="VARCHAR" property="uuid" />
  </resultMap>
</mapper>